[submodule "gsea/helper"]
	path = gsea/helper
	url = https://github.com/KwatME/helper
[submodule "gsea/dataplay"]
	path = gsea/dataplay
	url = https://github.com/KwatME/dataplay
[submodule "gsea/file"]
	path = gsea/file
	url = https://github.com/KwatME/file
