[submodule "gsea/array_nd"]
	path = gsea/array_nd
	url = https://github.com/kwatme/array_nd
[submodule "gsea/support"]
	path = gsea/support
	url = https://github.com/kwatme/support
[submodule "gsea/file"]
	path = gsea/file
	url = https://github.com/kwatme/file
